.header {
  width: 100%;
  height: 65px;
  background-color: #002140;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
}

.header-text {
  color: white;
  margin: 10px 23px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 50px;
  margin-top: 7px;
  margin-left: 10px;
}

.online-container {
  display: flex;
}

.online {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #389e0d;
  margin-top: 7px;
  margin-right: 10px
}
